node_modules
.env
dist
coverage
*.log
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tsbuildinfo
*.bak
*.tmp
*.cache
*.pid
*.seed
*.pid.lock
*.log
*.gz
*.zip
*.tar
*.rar
*.7z
*.bak
*.tmp